{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2>Faskes</h2>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Kode Faskes</th>
        <th scope="col">Tipe</th>
        <th scope="col">Nama Faskes </th>
      </tr>
    </thead>
    <tbody>
      {%for row in readFaskes%}
      <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
      </tr>
      {%endfor%}
      </tbody>
    </table>
  </div>
  {% endblock content %}
  
