{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2>Reservasi RS</h2>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">NIK Pasien</th>
        <th scope="col">Tanggal Masuk</th>
        <th scope="col">Tanggal Keluar</th>
        <th scope="col">Rumah Sakit</th>
        <th scope="col">Ruangan</th>
        <th scope="col">Bed</th>
      </tr>
    </thead>
    <tbody>
      {%for row in readReservasiRS%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
      </tr>
      {%endfor%}
      </tbody>
    </table>
  </div>
  {% endblock content %}
  
