{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:75px"></div>
<div class="container" style="text-align: center;">
    <h1 class="text-center header-big">List Reservasi Hotel</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">NIK Pasien</th>
                <th scope="col">Tanggal Masuk</th>
                <th scope="col">Tanggal Keluar</th>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Ruangan</th>

            </tr>
        </thead>
        <tbody>
            {% for eachRow in row %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ eachRow.kodepasien }}</td>
                <td>{{ eachRow.tglmasuk }}</td>
                <td>{{ eachRow.tglkeluar }}</td>
                <td>{{ eachRow.kodehotel }}</td>
                <td>{{ eachRow.koderoom }}</td>
                

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}