{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:75px"></div>
<div class="container" style="text-align: center;">
    <h1 class="text-center header-big">List Ruangan Hotel</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Kode Ruangan</th>
                <th scope="col">Jenis Bed</th>
                <th scope="col">Tipe</th>
                <th scope="col">Harga</th>
                {% if request.session.type == 'adminSistem' %}
                <th scope="col">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for eachRow in row %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ eachRow.kodehotel }}</td>
                <td>{{ eachRow.koderoom }}</td>
                <td>{{ eachRow.jenisbed }}</td>
                <td>{{ eachRow.tipe }}</td>
                <td>{{ eachRow.harga }}</td>
                {% if request.session.type == 'adminSistem' %}
                <td scope="col">
                    <div class="pi-draggable btn-group" draggable="true">
                        <a class="btn btn-primary" href="{% url 'trigger4:update_ruangan_hotel' eachRow.koderoom %}"><b>Update</b></a>
                        <a class="btn btn-danger" href="{% url 'trigger4:delete_ruangan_hotel' eachRow.koderoom %}"><b>Delete</b></a>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}