{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:75px"></div>
<div class="container" style="text-align: center;">
    <h1 class="text-center header-big">List Transaksi Hotel</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID Transaksi</th>
                <th scope="col">NIK Pasien</th>
                <th scope="col">Tanggal Pembayaran</th>
                <th scope="col">Waktu Pembayaran</th>
                <th scope="col">Total Biaya</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for eachRow in row %}
            <tr>
                <td>{{ eachRow.idtransaksi }}</td>
                <td>{{ eachRow.kodepasien }}</td>
                <td>{{ eachRow.tanggalpembayaran }}</td>
                <td>{{ eachRow.waktupembayaran }}</td>
                <td>{{ eachRow.totalbayar }}</td>
                <td>{{ eachRow.statusbayar }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}