{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:75px"></div>
<div class="container" style="text-align: center;">
<h1 class="text-center header-big">Update Ruangan Hotel {{data.koderoom}}</h1>
		<form method="POST" action="{% url 'trigger4:update_ruangan_hotel' %}">
			{% csrf_token %}
            <table class="col-md-9 p-0 mx-auto">
                {{form.as_table}}
            </table>
			<button type="Submit" class="btn btn-primary btn-curve">Simpan</button>
		</form>
</div>
{% endblock %}