{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:75px"></div>
<div class="container" style="text-align: center;">
    <h2 class="text-center header-big">Selamat datang di SIRUCO</h2>
    <p class="text-center header-big">Silahkan melakukan login/register</p>
    <div style="margin-top:35px">
    <a href="{% url 'home:regist_role' %}"><button class="btn btn-primary">register</button></a>
    <a href="{% url 'home:login' %}"><button class="btn btn-primary">login</button></a>
</div>

{% endblock %}