{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:75px"></div>
<div class="container" style="text-align: center;">
    <h1 class="text-center header-big">Home</h1>

            {% if message %}
            {{message}}
            {% endif %}
            {% if peran %}
            <p>Role anda: {{peran}}</p>
            {% endif %}
</div>

{% endblock %}