{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:75px"></div>
<div class="container" style="text-align: center;">
    <h1 class="text-center header-big">LOGIN</h1>
    <div style="margin-top:75px">
            <form method="POST" action="{% url 'home:login' %}">
                {% csrf_token %}
                <table class="col-md-9 p-0 mx-auto">
                    {{form.as_table}}
                </table>
                <div style="margin-top:35px">
                <button type="Submit" class="btn btn-primary btn-curve">Submit</button>
                <div style="margin-top:25px">
            </form>
            {% if message %}
            {{message}}
            {% endif %}
</div>
{% endblock %}