{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:75px"></div>
<div class="container" style="text-align: center;">
    <h1 class="text-center header-big">Role Select</h1>
    <div style="margin-top:50px">
    		<form method="POST" action="{% url 'home:regist_role' %}" >
			{% csrf_token %}
            <p>Pilih role untuk registrasi</p>
			<table class="col-md-9 p-0 mx-auto">
				{{regist_role.as_table}}
			</table>
            <div style="margin-top:25px">
			<button type="Submit" class="btn btn-primary btn-curve">Registrasi</button>
		</form>
</div>
{% endblock %}