{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top:75px"></div>
<div class="container" style="text-align: center;">
    <h1 class="text-center header-big">Registrasi Dokter</h1>
		<form method="POST" action="{% url 'home:regist_dokter' %}">
			{% csrf_token %}
			<table class="col-md-9 p-0 mx-auto">
				{{create_dokter.as_table}}
			</table>
			<button type="Submit" class="btn btn-primary btn-curve">Registrasi</button>
		</form>
		{% if message %}
		{{message}}
	    {% endif %}
</div>
{% endblock %}