{% extends 'home/base.html' %}
{% block content %}
{% include 'navbar.html' %}

<body>
    <div class="container">
        <h1 class="text-center">
            <b>Detail Transaksi Makan </b>
       </h1>
       <hr>
       <p>
           Id Transaksi :
           <br>
           Id Transaksi Makan :
           <br>
           Kode Hotel :
       </p>
       <p>
           Daftar Pesanan:
       </p>
       <table>
           <thead>
               <tr>
                   <th>Id Pesanan</th>
                   <th>Paket Makan</th>
                   <th>Harga</th>
               </tr>
           </thead>
           <tbody>
               <tr></tr>
           </tbody>
           Total: 
           <a class="text-center" href="#">KEMBALI</a>
       </table>
    </div>
</body>
{% endblock %}