{% extends 'base.html' %} 
{% block content %}
{%load static%}
<body>
    <div class="container">
        <h1 class="text-center">Form Tambah Paket Makan</h1>
        <form action="{% url 'transaksi_makan:form_paket_makan' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="validationDefault01">Kode Hotel</label> {{ form.kode_hotel }}
            </div>
            <div class="form-group">
              <label for="validationDefault01">Kode Paket</label> {{ form.kode_paket2 }}
            </div>
            <div class="form-group">
              <label for="validationDefault01">Nama Paket</label> {{ form.nama_paket }}
            </div>
            <div class="form-group">
              <label for="validationDefault01">Harga</label> {{ form.harga }}
            </div>
            <input class="btn btn-primary" type="submit" value="Submit anyway">
        </form>
    </div>
</body>
{% endblock %}