{% extends 'base.html' %} 
{% block content %}
{%load static%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"crossorigin="anonymous"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<body>

<h1 class='text-center'>List Paket Makan</h1>

<body>
    <div class='container'>
        <table class = 'table'>
            <thead class = 'thead-dark'>
                <tr>
                    <th>No</th>
                    <th>Hotel</th>
                    <th>Kode Paket</th>
                    <th>Nama Paket</th>
                    <th>Harga</th>
                    {% if request.session.type == 'adminSistem' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for i in list_paket_makan %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{i.0}}</th>
                    <th>{{i.1}}</th>
                    <th>{{i.2}}</th>
                    <th>{{i.3}}</th>
                    {% if request.session.type == 'adminSistem' %}
                    <th>
                        <a class ="text-center" href="{% url 'transaksi_makan:update_paket_makan' kodehotel=i.0 kodepaket=i.1 %}">Update</a>
                        <br>
                        <a class ="text-center" href="{% url 'transaksi_makan:delete_paket_makan' kodehotel=i.0 kodepaket=i.1 %}">Delete</a>
                    </th>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="text-center"><a class="text-center" href="{% url 'transaksi_makan:form_paket_makan' %}">CREATE PAKET MAKAN</a></p>
    </div>
</body>

</body>
{% endblock %}