{% extends 'base.html' %} 
{% block content %}
{% include 'navbar.html' %}
<h1 class='text-center'> Data Transaksi Makan </h1>

<body>
    <div class='container text-center'>
        <table class="table">
            <thead class = 'thead-dark'>
                <tr>
                    <th>No</th>
                    <th>Id Transaksi Hotel</th>
                    <th>Id Transaksi</th>
                    <th>Total Bayar</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in list_transaksi_makan %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{i.0}}</th>
                    <th>{{i.1}}</th>
                    <th>{{i.2}}</th>
                    <th>
                        {% if request.session.type == 'adminSatgas' %}
                        <a class ="text-center" href="#">Update</a>
                        <br>
                        <a class ="text-center" href="#">Delete</a>
                        <br>
                        {% endif %}
                        <a class ="text-center" href="#">Detail</a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="text-center"><a class="text-center" href="#">CREATE TRANSAKSI MAKAN</a></p>
    </div>
</body>

{% endblock %}