{% extends 'base.html' %} 
{% block content %}
{%load static%}

<body>
    <h1 class="text-center">Form Update Paket Makan</h1>
    <div class = "container">
    <form method="POST" action="{% url 'transaksi_makan:update_paket_makan' kodehotel=paket.kodehotel kodepaket=paket.kodepaket %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="kodehotel">Kode Hotel</label>
            <input class="form-control" id="kodehotel" name="kodehotel" type="text" disabled value={{paket.kodehotel}}>
        </div>
        <div class="form-group">
            <label for="kodepaket">Kode Paket</label>
            <input class="form-control" id="kodepaket" name="kodepaket" type="text" disabled value={{paket.kodepaket}}>
        </div>
        <div class="form-group">
            <label for="nama">Nama Paket</label>
            <input class="form-control" id="nama" name="nama" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="harga">Harga</label>
            <input class="form-control" id="harga" name="harga" type="text" value='' required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

</body>
{% endblock %}