{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
    <h2 style="text-align: center;">FORM DAFTAR PASIEN</h2>
    <form method="post" action="{% url 'pasien:daftar' %}">
        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}} fade show" role="alert">
            {{message}}
          </div>
        {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="idpendaftar" >Pendaftar</label>
            <input class="form-control" name="idpendaftar" id="idpendaftar" type="text" disabled value={{email}}>
        </div>
        <div class="form-group">
            <label for="nik" >NIK</label>
            <input class="form-control" name="nik" id="nik" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="nama" >Nama</label>
            <input class="form-control" name = "nama" id="nama" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="notelp" >Nomor Telepon</label>
            <input class="form-control" name="notelp" id="notelp" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="nohp" >Nomor Hp</label>
            <input class="form-control" name="nohp" id="nohp" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="alamat">Alamat(Sesuai KTP)</label>
            <label for="ktp_jalan" >Jalan</label>
            <input class="form-control" name="ktp_jalan" id="ktp_jalan" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="ktp_kelurahan" >Kelurahan </label>
            <input class="form-control" name="ktp_kelurahan" id="ktp_kelurahan" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="ktp_kecamatan">Kecamatan</label>
            <input class="form-control" name="ktp_kecamatan" id="ktp_kecamatan" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="ktp_kabkot" >Kabupaten/Kota</label>
            <input class="form-control" name="ktp_kabkot" id="ktp_kabkot" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="ktp_prov">Provinsi</label>
            <input class="form-control" name="ktp_prov" id="ktp_prov" type="text" value='' required>
        </div>
        <div class="form-group">
            <label  >Alamat(Domisili)</label>
            <label for="dom_jalan">Jalan</label>
            <input class="form-control" name="dom_jalan" id="dom_jalan" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="dom_kelurahan">Kelurahan </label>
            <input class="form-control" name="dom_kelurahan" id="dom_kelurahan" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="dom_kecamatan">Kecamatan</label>
            <input class="form-control" name="dom_kecamatan" id="dom_kecamatan" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="domk">Kabupaten/Kota</label>
            <input class="form-control" name="domk" id="domk" type="text" value='' required>
        </div>
        <div class="form-group">
            <label for="dom_prov">Provinsi</label>
            <input class="form-control" name="dom_prov" id="dom_prov" type="text" value='' required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}