{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
    <h2 style="text-align: center;">Detail Pasien</h2>
    <br>
    {%for lis in row%}
        <p>Pendaftar           :{{lis.idpendaftar}}</p>
        <p>NIK                 :{{lis.nik}}</p>
        <p>Nama                :{{lis.nama}}</p>
        <p>Nomor Telepon       :{{lis.notelp}}</p>
        <p>Nomor Hp            :{{lis.nohp}}</p>
        <p>Alamat(Sesuai KTP)  :</p>
        <p>Jalan           :{{lis.ktp_jalan}}</p>
        <p>Kelurahan       :{{lis.ktp_kelurahan}}</p>
        <p>Kecamatan       :{{lis.ktp_kecamatan}}</p>
        <p>Kabupaten/Kota  :{{lis.ktp_kabkot}}</p>
        <p>Provinsi        :{{lis.ktp_prov}}</p>
        <p>Alamat(Domisili)    :</p>
        <p>Jalan           :{{lis.dom_jalan}}</p>
        <p>Kelurahan       :{{lis.dom_kelurahan}}</p>
        <p>Kecamatan       :{{lis.dom_kecamatan}}</p>
        <p>Kabupaten/Kota  :{{lis.dom_kabkot}}</p>
        <p>Provinsi        :{{lis.dom_prov}}</p>
    {% endfor %}
    <a href="{% url 'pasien:read' %}">
        <button class="btn btn-outline-primary">Back</button>
    </a>
</div>
{% endblock content %}
