{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2>List Pasien</h2>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">NIK</th>
        <th scope="col">Nama Pasien</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {%for row in lis%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{row.nik}}</td>
        <td>{{row.nama}}</td>
        <td> 
          <a href="{% url 'pasien:update' nik=row.nik %}">
            <button class="btn btn-outline-primary">Update</button>
          </a>
          <a href="{% url 'pasien:delete' nik=row.nik %}">
            <button class="btn btn-outline-danger">Delete</button>
          </a>
          <a href="{% url 'pasien:detail' nik=row.nik %}">
            <button class="btn btn-outline-primary">Detail</button>
          </a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock content %}
