{%load static%}
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #86c8ee;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home:landing_page' %}">SIRUCO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <!-- role admin sistem -->
            {% if request.session.type == 'adminSistem' %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hotel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Create Hotel</a>
                    <a class="dropdown-item" href="#">List Hotel</a>
                    <a class="dropdown-item" href="{% url 'trigger4:create_ruangan_hotel' %}">Create Ruangan Hotel</a>
                    <a class="dropdown-item" href="{% url 'trigger4:read_ruangan_hotel' %}">List Ruangan Hotel</a>
                    <a class="dropdown-item" href="{% url 'transaksi_makan:form_paket_makan' %}">Create Paket Makan</a>
                    <a class="dropdown-item" href="{% url 'transaksi_makan:paket_makan' %}">List Paket Makan</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="{% url 'home:logout' %}" class="nav-link">Logout</a>
            </li>
            {% endif %}
            <!-- role pengguna publik-->
            {% if request.session.type == 'penggunaPublik' %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pasien
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'pasien:daftar' %}">Pendaftaran Pasien</a>
                    <a class="dropdown-item" href="{% url 'pasien:read' %}">List Pasien</a>
                    <a class="dropdown-item" href="{% url 'trigger2:createappointment' %}">Create Appointment</a>
                    <a class="dropdown-item" href="{% url 'trigger2:listAppointment' %}">List Appointment</a>
                    <a class="dropdown-item" href="#">Create Hasil Tes Pasien</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rumah Sakit
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'trigger2:readJadwalDokter' %}">List Jadwal Dokter</a>
                    <a class="dropdown-item" href="#">List Reservasi RS</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hotel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">List Hotel</a>
                    <a class="dropdown-item" href="{% url 'trigger4:read_ruangan_hotel' %}">List Ruangan Hotel</a>
                    <a class="dropdown-item" href="#">List Paket Makan</a>
                    <a class="dropdown-item" href="#">Create Reservasi Hotel</a>
                    <a class="dropdown-item" href="{% url 'trigger4:read_reservasi_hotel' %}">List Reservasi Hotel</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transaksi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Bayar Transaksi RS</a>
                    <a class="dropdown-item" href="#">Bayar Transaksi Hotel</a>
                    <a class="dropdown-item" href="{% url 'trigger4:read_transaksi_hotel' %}">List Transaksi Booking Hotel</a>
                    <a class="dropdown-item" href="#">Create Transaksi Makan dan Daftar Pesan</a>
                    <a class="dropdown-item" href="#">List Transaksi Makan dan Daftar Pesan</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="{% url 'home:logout' %}" class="nav-link">Logout</a>
            </li>
            {% endif %}
            <!-- role dokter-->
            {% if request.session.type == 'dokter' %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pasien
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'trigger2:listAppointment' %}">List Appointment</a>
                    <a class="dropdown-item" href="#">Create Hasil Tes Pasien</a>
                    <a class="dropdown-item" href="#">List Hasil Tes Pasien</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rumah Sakit
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'trigger2:createJadwalDokter' %}">Create Jadwal Dokter</a>
                    <a class="dropdown-item" href="{% url 'trigger2:readJadwalDokter' %}">List Jadwal Dokter</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="{% url 'home:logout' %}" class="nav-link">Logout</a>
            </li>
            {% endif %}
            <!-- role admin satgas-->
            {% if request.session.type == 'adminSatgas' %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pasien
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'trigger2:createappointment' %}">Create Appointment</a>
                    <a class="dropdown-item" href="{% url 'trigger2:listAppointment' %}">List Appointment</a>
                    <a class="dropdown-item" href="#">List Hasil Tes Pasien</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Faskes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Create Faskes</a>
                    <a class="dropdown-item" href="#">List Faskes</a>
                    <a class="dropdown-item" href="#">Create Jadwal Faskes</a>
                    <a class="dropdown-item" href="#">List Jadwal Faskes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rumah Sakit
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Create RS</a>
                    <a class="dropdown-item" href="#">List RS</a>
                    <a class="dropdown-item" href="{% url 'trigger2:readJadwalDokter' %}">List Jadwal Dokter</a>
                    <a class="dropdown-item" href="{% url 'trigger2:createRuanganRS' %}">Create Ruangan RS</a>
                    <a class="dropdown-item" href="{% url 'trigger2:listRuanganRS' %}">List Ruangan RS</a>
                    <a class="dropdown-item" href="{% url 'trigger2:createBedRS' %}">Create Bed RS</a>
                    <a class="dropdown-item" href="{% url 'trigger2:listBedRs' %}">List Bed RS</a>
                    <a class="dropdown-item" href="#">Create Reservasi RS</a>
                    <a class="dropdown-item" href="#">List Reservasi RS</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hotel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">List Hotel</a>
                    <a class="dropdown-item" href="{% url 'trigger4:read_ruangan_hotel' %}">List Ruangan Hotel</a>
                    <a class="dropdown-item" href="#">List Paket Makan</a>
                    <a class="dropdown-item" href="#">Create Reservasi Hotel</a>
                    <a class="dropdown-item" href="{% url 'trigger4:read_reservasi_hotel' %}">List Reservasi Hotel</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transaksi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">List Transaksi RS</a>
                    <a class="dropdown-item" href="#">List Transaksi Hotel</a>
                    <a class="dropdown-item" href="{% url 'trigger4:read_transaksi_hotel' %}">List Transaksi Booking Hotel</a>
                    <a class="dropdown-item" href="#">Create Transaksi Makan dan Daftar Pesan</a>
                    <a class="dropdown-item" href="#">List Transaksi Makan dan Daftar Pesan</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="{% url 'home:logout' %}" class="nav-link">Logout</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
