{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2 style="text-align: center;">FORM CREATE APPOINTMENT</h2>
  <form method="post" action="{% url 'trigger2:buatappointment' nostr=periksa.nostr username_dokter=periksa.username kode_faskes=periksa.kode_faskes praktek_shift=periksa.shift praktek_tgl=periksa.tanggal %}">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="koders">NIK Pasien</label>
      {% for f in form %}
      <select name="koders" id='rskode' class="form-control" required>
        <option selected>pilih nik pasien</option>
        <option value="{{f}}"></option>
      </select>
      {% endfor %}
    </div>  

    <div class="form-group">
        <label for="username_dokter">Email Dokter</label>
        <input class="form-control" id="username_dokter" name="username_dokter" type="text" value="{{periksa.username}}" required disabled>
    </div>
    <div class="form-group">
        <label for="kode_faskes">Kode Faskes</label>
        <input class="form-control" id="kode_faskes" name="kode_faskes" type="text" value="{{periksa.kode_faskes}}" required disabled>
    </div>
    <div class="form-group">
        <label for="praktek_tgl">Tanggal Praktek</label>
        <input class="form-control" id="praktek_tgl" name="praktek_tgl" type="text" value="{{periksa.tanggal}}" required disabled>
    </div>
    <div class="form-group">
        <label for="praktek_shift">Shift Praktek</label>
        <input class="form-control" id="praktek_shift" name="praktek_shift" type="text" value="{{periksa.shift}}" required disabled>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">CREATE</button>
    </div>
  </form>
</div>
{% endblock content %}
