{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2>Jadwal Dokter</h2>
  <br>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}} fade show" role="alert">
        {{message}}
      </div>
    {% endfor %}
  {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">No STR</th>
        <th scope="col">Email Dokter</th>
        <th scope="col">Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Create Appointment</th>
      </tr>
    </thead>
    <tbody>
      {%for row in jadwal%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{row.nostr}}</td>
        <td>{{row.username}}</td>
        <td>{{row.kode_faskes}}</td>
        <td>{{row.shift}}</td>
        <td>{{row.tanggal}}</td>
        <td>
          <a href="{% url 'trigger2:buatappointment' nostr=row.nostr username_dokter=row.username kode_faskes=row.kode_faskes praktek_shift=row.shift praktek_tgl=row.tanggal %}">
              <button type="button" class="btn btn-outline-primary">Book</button>
          </a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock content %}
