{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2 style="text-align: center;">FORM CREATE BED RS</h2>
  <form method="post" action="{% url 'trigger2:createBedRS' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="koders">Kode Rumah Sakit</label>
        {% for f in form %}
        <select name="koders" id='rskode' class="form-control" required>
          <option selected>pilih kode rs</option>
          <option value="{{f}}"></option>
        </select>
        {% endfor %}
    </div>  

    <div class="form-group">
        <label for="koderuangan">Kode Ruangan</label>
        <select name="koderuangan" class="form-control" id="koderuangan"  required>
            <option selected>pilih kode ruangan</option>
            <option value="" ></option>
        </select>
    </div>  

    <div class="form-group">
        <label for="tipe">Kode Bed</label>
        <input class="form-control" name="kode_bed" id="kode_bed" type="text" value="" disabled required>
        <input type="hidden" id="custId" name="custId" value="">
    </div>

    <br>
    <div class="d-flex">
      <button type="submit" class="btn btn-primary col-12">Create</button>
    </div>
  </form>
</div>

<script src="{% static 'js/bed.js' %}" type="text/javascript"></script
{% endblock content %}

