{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2 style="text-align: center;">CREATE JADWAL DOKTER</h2>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Kode Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Create Jadwal Dokter</th>
      </tr>
    </thead>
    <tbody>
      {%for row in jadwal%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{row.kode_faskes}}</td>
        <td>{{row.shift}}</td>
        <td>{{row.tanggal}}</td>
        <td>
          <a href="{% url 'trigger2:createJadwal' kode_faskes=row.kode_faskes shift=row.shift tanggal=row.tanggal %}">
              <button type="button" class="btn btn-outline-primary">Create</button>
          </a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock content %}
