{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2 style="text-align: center;">FORM CREATE RUANGAN RS</h2>
  <form method="post" action="{% url 'trigger2:createRuanganRS' %}">
    {% csrf_token %}
    <!-- <label >Kode Rumah Sakit</label>
    {% for field in form %}
    <div class="form-control" >
      {{ field }}
    </div>
    {% endfor %} -->

    <div class="form-group">
      <label for="koders">Kode Rumah Sakit</label>
      {% for f in form %}
      <select name="koders" id='rskode' class="form-control" required>
        <option selected>pilih kode rs</option>
        <option value="{{f}}"></option>
      </select>
      {% endfor %}
    </div>  

    <div class="d-flex">
      <button type="submit" class="btn btn-primary">Pilih</button>
    </div>
  </form>
</div>
{% endblock content %}