{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2>List Appointment</h2>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">NIK Pasien</th>
        <th scope="col">Email Dokter</th>
        <th scope="col">Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Rekomendasi</th>
        {% if request.session.type == 'adminSatgas' or request.session.type == 'dokter' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {%for row in list_periksa%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{row.nik_pasien}}</td>
        <td>{{row.username_dokter}}</td>
        <td>{{row.kode_faskes}}</td>
        <td>{{row.praktek_shift}}</td>
        <td>{{row.praktek_tgl}}</td>
        <td>{{row.rekomendasi}}</td>
        {% if request.session.type == 'dokter' %}
        <td> 
          <a href="{% url 'trigger2:updateappointment' nik_pasien=row.nik_pasien nostr=row.nostr username_dokter=row.username_dokter kode_faskes=row.kode_faskes praktek_shift=row.praktek_shift praktek_tgl=row.praktek_tgl %}">
            <button class="btn btn-outline-primary">Update</button>
          </a>
        </td>
        {% endif %}
        {% if request.session.type == 'adminSatgas' %}
        <td> 
          <a href="{% url 'trigger2:deleteappointment' nik_pasien=row.nik_pasien nostr=row.nostr username_dokter=row.username_dokter kode_faskes=row.kode_faskes praktek_shift=row.praktek_shift praktek_tgl=row.praktek_tgl %}">
            <button class="btn btn-outline-danger">Delete</button>
          </a>
        </td>
        {% endif %}
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock content %}
