{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2>List Ruangan Rumah Sakit</h2>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Kode RS</th>
        <th scope="col">Kode Ruangan</th>
        <th scope="col">Tipe</th>
        <th scope="col">Jumlah Bed</th>
        <th scope="col">Harga Ruangan</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {%for row in list%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{row.koders}}</td>
        <td>{{row.koderuangan}}</td>
        <td>{{row.tipe}}</td>
        <td>{{row.jmlbed}}</td>
        <td>{{row.harga}}</td>
        <td>
          <a href="{% url 'trigger2:updateRuanganRS' koders=row.koders koderuangan=row.koderuangan%}">
            <button type="button" class="btn btn-outline-primary">Update</button>
          </a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock content %}
