{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2>List Bed Rumah Sakit</h2>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Kode RS</th>
        <th scope="col">Kode Ruangan</th>
        <th scope="col">Kode Bed</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {%for r in tgldelete%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{r.koders}}</td>
        <td>{{r.koderuangan}}</td>
        <td>{{r.kodebed}}</td>
        <td>
          <a href="{% url 'trigger2:deleteBedRS' koders=r.koders koderuangan=r.koderuangan kodebed=r.kodebed %}">
            <button type="button" class="btn btn-outline-danger">delete</button>
          </a>  
        </td>
      </tr>
      {%endfor%}
      {%for row in lis%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{row.koders}}</td>
        <td>{{row.koderuangan}}</td>
        <td>{{row.kodebed}}</td>
        <td></td>
      </tr>
      {%endfor%}
      {%for row in list%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{row.koders}}</td>
        <td>{{row.koderuangan}}</td>
        <td>{{row.kodebed}}</td>
        <td></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock content %}
