{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2>Jadwal Dokter</h2>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">No STR</th>
        <th scope="col">Dokter</th>
        <th scope="col">Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Jumlah Pasien</th>
      </tr>
    </thead>
    <tbody>
      {%for row in list_jadwal%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{row.nostr}}</td>
        <td>{{row.username}}</td>
        <td>{{row.kode_faskes}}</td>
        <td>{{row.shift}}</td>
        <td>{{row.tanggal}}</td>
        <td>{{row.jmlpasien }}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock content %}
