{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2 style="text-align: center;">FORM CREATE RUANGAN RS</h2>
  <form method="post" action="{% url 'trigger2:hasilruang' koders=koders koderuangan=kode%}">
    {% csrf_token %}
    <div class="form-group">
        <label for="koders">Kode Rumah Sakit</label>
        <input class="form-control" id="koders" name="koders" type="text" value="{{koders}}" disabled>
    </div>
    <div class="form-group">
        <label for="koderuangan">Kode Ruangan</label>
        <input class="form-control" id="koderuangan" name="koderuangan" type="text" value="{{kode}}" disabled>
    </div>
    <div class="form-group">
        <label for="tipe">Tipe</label>
        <input class="form-control" id="tipe" name="tipe" type="text" required>
    </div>
    <div class="form-group">
        <label for="harga">Harga Ruangan</label>
        <input class="form-control" id="harga" name="harga" type="text" required>
    </div>
    <br>
    <div class="d-flex">
      <button type="submit" class="btn btn-primary col-12">Pilih</button>
    </div>
  </form>
</div>
{% endblock content %}