{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
  <h2 style="text-align: center;">FORM UPDATE RUANGAN RS</h2>
  <form method="POST" action="{% url 'trigger2:updateRuanganRS' koders=ruang.koders koderuangan=ruang.koderuangan %}">
    {% csrf_token %}
      <div class="form-group">
          <label for="koders">Kode Rumah Sakit</label>
          <input class="form-control" id="koders" name="koders" type="text" disabled value={{ruang.koders}}>
      </div>
      <div class="form-group">
          <label for="koderuangan">Kode Ruangan</label>
          <input class="form-control" id="koderuangan" name="koderuangan" type="text" disabled value={{ruang.koderuangan}}>
      </div>
      <div class="form-group">
          <label for="tipe">Tipe</label>
          <input class="form-control" id="tipe" name="tipe" type="text" value={{ruang.tipe}} required>
      </div>
      <div class="form-group">
          <label for="harga">Harga Ruangan</label>
          <input class="form-control" id="harga" name="harga" type="text" value={{ruang.harga}} required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}
