{% extends "base.html" %} {%load static%} 
{% block content %}
<div class="container mt-5 pt-5 mb-5">
    <h2 style="text-align: center;">FORM UPDATE APPOINTMENT</h2>
    <form method="post" action="{% url 'trigger2:updateappointment' nik_pasien=periksa.nik_pasien nostr=periksa.nostr username_dokter=periksa.username_dokter kode_faskes=periksa.kode_faskes praktek_shift=periksa.praktek_shift praktek_tgl=periksa.praktek_tgl %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="nik_pasien">NIK Pasien</label>
            <input class="form-control" id="nik_pasien" name="nik_pasien" type="text" disabled value={{periksa.nik_pasien}}>
        </div>
        <div class="form-group">
            <label for="username_dokter">Email Dokter</label>
            <input class="form-control" id="username_dokter" name="username_dokter" type="text" disabled value={{periksa.username_dokter}}>
        </div>
        <div class="form-group">
            <label for="praktek_shift">Shift Praktek</label>
            <input class="form-control" id="praktek_shift" name="praktek_shift" type="text" disabled value={{periksa.praktek_shift}}>
        </div>
        <div class="form-group">
            <label for="praktek_tgl">Tanggal Praktek</label>
            <input class="form-control" id="praktek_tgl" name="praktek_tgl" type="text" disabled value={{periksa.praktek_tgl}}>
        </div>
        <div class="form-group">
            <label for="kode_faskes">Faskes</label>
            <input class="form-control" id="kode_faskes" name="kode_faskes" type="text" disabled value={{periksa.kode_faskes}}>
        </div>
        <div class="form-group">
            <label for="rekomendasi">Rekomendasi</label>
            <input class="form-control" id="rekomendasi" name="rekomendasi" type="text" value={{periksa.rekomendasi}} required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}